

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cpate-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 9999999999 !important;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cpate-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cpate-modal.is-visible .cpate-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.cpate-modal-container {
  position: relative;
  width: 90%;
  max-width: 450px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cpate-modal-title{
    color: #343642;
    padding: 20px 30px 0px 30px;
    font-weight: 600;
    text-align: center;
    font-size: large;
}

@media only screen and (min-width: 600px) {
  .cpate-modal-container {
    margin: 4em auto;
  }
}
.cpate-form {
  padding: 1.4em;
}
.cpate-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cpate-form .fieldset:first-child {
  margin-top: 0;
}
.cpate-form .fieldset:last-child {
  margin-bottom: 0;
}
.cpate-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cpate-form label.image-replace {
  /* заменить текст с иконой */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
/* Иконки полей ввода */
.cpate-form label.cd-username {
  background-image: url("../img/user.png");
}
.cpate-form label.cd-phone {
  background-image: url("../img/phone.png");
}

.cpate-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
  height: auto;
}
.cpate-form input.full-width {
  width: 100%;
}
.cpate-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cpate-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cpate-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cpate-form input.has-error {
  border: 1px solid #d76666;
}
.cpate-form input[type=password] {
  /* пространство для кнопки Скрыть */
  padding-right: 65px;
}
.cpate-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #d85269;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cpate-form input[type=submit]:hover, .no-touch .cpate-form input[type=submit]:focus {
  background: #343642;
  outline: none;
}
.cpate-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: 128px;
    bottom: 14px;
    background: rgba(215, 102, 102, 0.9);
    padding: 3px;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.78rem;
    border-radius: 0.25em;
    border-radius: 0 2px 2px 0px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cpate-form .cd-error-message::after {
  /* уголок сообщения об ошибке */
    content: '';
    position: absolute;
    left: -26px;
    bottom: 0px;
    height: 0;
    width: 0;
    border: 13px solid transparent;
    border-right: 13px solid rgba(215, 102, 102, 0.9);
}
.cpate-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cpate-form {
    padding: 2em;
  }
  .cpate-form .fieldset {
    margin: 2em 0;
  }
  .cpate-form .fieldset:first-child {
    margin-top: 0;
  }
  .cpate-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cpate-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cpate-form input[type=submit] {
    padding: 16px 0;
  }
}
.cpate-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cpate-form-message {
    padding: 2em 2em 0;
  }
}
.cpate-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cpate-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}
.cd-close-form {
  /* стиль X кнопки вверху справа */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -4px; 
    top: -7px;
    background: url(../img/close.png) no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/*
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}
*/
@media only screen and (max-width: 420px) {
  
  .cpate-modal{
    position: absolute;
    min-width: 300px;
  }
  .cpate-modal.is-visible .cpate-modal-container {
    left: 5%;
  }
  .cpate-modal-container {
    position: absolute;
  }


  .cpate-form .cd-error-message {
      bottom: 10px;
  }
}



