﻿@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratMedium.eot');
	src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'),
	url('../fonts/MontserratMedium.html') format('woff2'),
	url('../fonts/MontserratMedium.woff') format('woff'),
	url('../fonts/MontserratMedium-1.html') format('truetype'),
	url('../fonts/MontserratMedium.svg') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratRegular.eot');
	src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
	url('../fonts/MontserratRegular.html') format('woff2'),
	url('../fonts/MontserratRegular.woff') format('woff'),
	url('../fonts/MontserratRegular-1.html') format('truetype'),
	url('../fonts/MontserratRegular.svg') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratSemiBold.eot');
	src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
	url('../fonts/MontserratSemiBold.html') format('woff2'),
	url('../fonts/MontserratSemiBold.woff') format('woff'),
	url('../fonts/MontserratSemiBold-1.html') format('truetype'),
	url('../fonts/MontserratSemiBold.svg') format('svg');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratBold.eot');
	src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
	url('../fonts/MontserratBold.html') format('woff2'),
	url('../fonts/MontserratBold.woff') format('woff'),
	url('../fonts/MontserratBold-1.html') format('truetype'),
	url('../fonts/MontserratBold.svg') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeueRegular.eot');
	src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
	url('../fonts/BebasNeueRegular.html') format('woff2'),
	url('../fonts/BebasNeueRegular.woff') format('woff'),
	url('../fonts/BebasNeueRegular-1.html') format('truetype'),
	url('../fonts/BebasNeueRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeueBook';
	src: url('../fonts/BebasNeueBook.eot');
	src: url('../fonts/BebasNeueBook.eot') format('embedded-opentype'),
	url('../fonts/BebasNeueBook.html') format('woff2'),
	url('../fonts/BebasNeueBook.woff') format('woff'),
	url('../fonts/BebasNeueBook-1.html') format('truetype'),
	url('../fonts/BebasNeueBook.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeueLight.eot');
	src: url('../fonts/BebasNeueLight-1.eot') format('embedded-opentype'),
	url('../fonts/BebasNeueLight.html') format('woff2'),
	url('../fonts/BebasNeueLight.woff') format('woff'),
	url('../fonts/BebasNeueLight-1.html') format('truetype'),
	url('../fonts/BebasNeueLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
/*-------------------- RESETE STYLES --------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
}
html{
	line-height:1;
}
ol, ul{
	list-style:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
th, td{
	text-align:left;
	font-weight:normal;
	vertical-align:middle;
}
a img{
	border:none;
}
a, a:hover{
	text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
	display:block;
}
strong, b{
	font-weight:700;
}
/*-------------------- DEFAULT STYLES --------------------*/
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body{
	color: #929292;
	line-height:1.2;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	min-width: 320px;
	-ms-overflow-x: hidden;
	background-color: #00707c;
	overflow-x: hidden;
}
.wrapper-page{
	-ms-overflow-x: hidden;
	overflow-x: hidden;
}
*{
	box-sizing:border-box;
	outline:none !important;
}
*:before, *:after{
	box-sizing:border-box;
}
.hide{
	display:none;
}
b, strong{
	font-weight:bold;
}
button, input[type="button"], input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer;
}
button[disabled], html input[disabled]{
	cursor:default;
}
button::-moz-focus-inner, input::-moz-focus-inner{
	padding:0;
	border:0;
}
.bg_copy_5 {
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 730px;
	top: 345px;
	width: 460px;
	height: 360px;
	z-index: 545;
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7 .ajax-loader{
	display: none !important;
}
span.wpcf7-not-valid-tip{
	font-size: 0 !important;
	position: absolute;
	bottom: -6px;
	width: 100%;
	border-top: 3px solid #F53535;
}
.s-callback span.wpcf7-not-valid-tip{
	bottom: -1px;
}
div.wpcf7-mail-sent-ok{
	color: #FFF;
	text-align: center;
	border: none;
	border-bottom: 2px solid #07f0f5;
	display: none !important;
}
input:not(.blue-btn),
textarea{
	padding: 0 5px;
	height: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-ms-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
textarea{
	resize: none;
	min-height: 30px;
	background-color: rgba(0,0,0,0);
	width: 100%;
	padding-left: 5px;
	overflow: hidden;
	max-height: 90px;
}
textarea:active,
textarea:focus{
	border-color: #07F3F6;
}
input:not(.blue-btn):active,
input:not(.blue-btn):focus{
	border-color: #07F3F6;
}
input::-webkit-input-placeholder  {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
input::-moz-placeholder           {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
input:-moz-placeholder           {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
input:-ms-input-placeholder      {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
textarea::-webkit-input-placeholder  {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
textarea::-moz-placeholder           {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
textarea:-moz-placeholder           {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
textarea:-ms-input-placeholder      {opacity:1;color:#cbcbcb; font-family: 'Montserrat'; font-weight: 600; font-size: 14px; text-transform: uppercase; }
/*-------------------- POPUP --------------------*/
.overlay {
	left: 0;
	opacity: 0;
	position: fixed;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: -1;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
	background-color: rgba(0,0,0,.5);
}
.overlay.active {
	z-index: 9;
	opacity: 1;
	overflow: hidden;
}
.overlay.active-gal {
	background-color: transparent;
}
.popup {
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	position: fixed;
	border-radius: 5px;
	top: 50%;
	z-index: -1;
	-webkit-transition: .4s ease;
	transition: .4s ease;
	max-width: 610px;
	width: 100%;
	background-color: #00707c;
	background-repeat: no-repeat;
	background-position: left center;
	padding: 55px 80px 20px;
}
.popup.active {
	z-index: 10;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
body.modal .overlay {
	opacity: 1;
	z-index: 9;
	overflow: hidden;
}
body.modal {
	overflow: hidden;
	display: block;
}
.popup h5{
	font-weight: 600;
	font-size: 22px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Montserrat';
	color: #fff;
	margin-bottom: 64px;
}
.popup-close {
	width: 37px;
	height: 44px;
	position: absolute;
	right: -35px;
	top: -35px;
	cursor: pointer;
	z-index:121;
}
.popup-close::before,
.popup-close::after {
	content: "";
	width: 2px;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.popup-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.popup-close:hover::before,
.popup-close:hover::after {
	opacity: .6;
}
.popup ul li{
	margin-bottom: 45px;
}
.popup ul li:last-child{
	margin-bottom: 0;
}
.popup-callback{
	text-align: center;
}
.popup-callback .blue-btn{
	margin-top: 20px;
	width: 100%;
	max-width: 260px;
	border: none;
}
.popup-callback .popup-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.popup-callback .popup-close::before,
.popup-callback .popup-close::after{
	content: "";
	width: 1px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #07eef2;
}
.popup-callback .popup-close:hover::before,
.popup-callback .popup-close:hover::after{
	opacity: 1;
	background-color: #0CCACC;
}
.popup-callback textarea{
	margin-top: 50px;
}
/* POPUP VIDEO */
.popup-video {
	width: 100%;
	max-width: 85%;
	height: 85%;
	padding: 0;
}
.popup-video .popup-cover-vid{
	height: 100%;
}
.popup-video iframe {
	width: 100%;
	height: 100%;
	border: none;
}
.popup.popup-action4 h5{
	margin-bottom: 40px;
}
/*-- HEADER --*/
.nav-btn-wrap{
	position:fixed;
	z-index: 9;
	right:0;
	top:0;
	background-color: rgba(12,37,48,.9);
	width: 60px;
	height: 50px;
	-webkit-transition:all 0.4s ease, visibility 0.1s ease;
	transition:all 0.4s ease, visibility 0.1s ease;
}
.nav-btn{
	display:block;
	height:50px;
	width:60px;
	padding:10px 15px;
	display:block;
	z-index:2;
	overflow:hidden;
}
@media (min-width:768px){
	.nav-btn-wrap{
		display:none;
	}
}
.nav-btn span{
	background-color:#07f0f5;
	height:2px;
	width:100%;
	display:block;
	margin:6px 0;
	position:relative;
	-webkit-transition:all 0.4s ease, visibility 0.1s ease;
	transition:all 0.4s ease, visibility 0.1s ease;
}
.nav-btn-wrap.active{
	padding-left: 5px;
}
.nav-btn-wrap.active .nav-btn span{
	height: 2px;
	-webkit-transform-origin:0;
	transform-origin:0;
}
.nav-btn-wrap.active .nav-btn span:first-child{
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.nav-btn-wrap.active .nav-btn span:last-child{
	margin-top: 11px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.nav-btn-wrap.active .nav-btn span:nth-child(2){
	visibility:hidden;
}
header{
	background-image:url('img/header_bg.html');
	height: 100vh;
	min-height: 800px;
	background-size:cover;
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	padding-top: 70px;
	z-index: 8;
}
header .container{
	padding: 0 35px;
}
.top-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 20px 35px;
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}
.top-menu.decor{
	background-color: rgba(16,36,49,.9);
	box-shadow: 0px 0px 15px #0e2c39;
	padding: 10px 35px;
}
.nav-list li a{
	font-weight:500;
	font-family:"Montserrat", sans-serif;
	font-size:18px;
	color:#fff;
	display:inline-block;
	transition: all .4s ease 0s;
}
.nav-list li a:hover,.nav-list li a.active{
	color:#07f0f5;
}
.nav-list li:last-child{
	margin-right:0;
}
.nav-list li{
	display:inline-block;
	margin-right:25px;
}
.top-right .top-phone{
	margin-right:40px;
	display:inline-block;
	color:#07f0f5;
	font-size:20px;
	font-family:"Montserrat", sans-serif;
	font-weight:500;
}
.top-right .top-phone:hover span{
	color: #FFF;
}
.top-right .top-phone span{
	font-weight:700;
	transition: all .4s ease 0s;
}
.blue-btn{
	color:#000103;
	background-color:#07f0f5;
	display:inline-block;
	padding:16px 46px 15px;
	border-radius:25px;
	box-shadow:0px 0px 30px #07f1f5;
	font-family:"Montserrat", sans-serif;
	font-weight:700;
	transition: all .4s ease 0s;
}
.blue-btn.sec{
	/*box-shadow:none;*/
	transition: all .4s ease 0s;
}
.blue-btn.sec:hover{
	/*box-shadow:0px 0px 15px #07f1f5;*/
}
.blue-btn:hover{
	box-shadow:none;
}
.header-content{
	text-align:center;
	padding-top:50px;
	position: relative;
	z-index: 2;
}
.logotype img{
	display:inline-block;margin-right:14px;vertical-align:bottom;
}
.logotype span{
	display:inline-block;
	vertical-align:bottom;
	font-family:'BebasNeue', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:95px;
	color:#07eaed;
	line-height:0.8;
	text-shadow:0px 0px 20px #07f1f5;
	position:relative;
}
/*
.logotype span::after{
	position:absolute;
	top:7px;
	font-size:25px;
	font-family:'BebasNeue', sans-serif;
	font-weight:400;
	color:#07eaed;
	content:"R";
	border:2px solid #07eaed;
	border-radius:50%;
	padding:3px 8px;
}
*/
h1{
	font-weight:500;font-size:22px;margin-top:55px;color:#102431;
}
.header-bottom{
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 170px;
	width: 456px;
}
.header-bottom img{
	display: block;
	max-width: 456px;
}
.header-bottom .blue-btn{
	position: absolute;
	width: 100%;
	text-align: center;
	max-width: 260px;
	bottom: 80px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.header-bottom .decor-line{
	width: 12px;
	height: 12px;
	position: absolute;
	top: 234px;
	right: -45px;
	background-color: #07F3F6;
	border-radius: 100%;
}
.header-bottom .decor-line:before{
	content: "";
	height: 545px;
	width: 3px;
	background-color: #07F3F6;
	background-color: rgb(7, 243, 246);
	position: absolute;
	top: 100%;
	left: 5px;
	z-index: -1;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	-moz-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
}
.header-bottom .decor-sec-line{
	height: 64px;
	width: 64px;
	border: 3px solid #07F3F6;
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	-moz-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	position: absolute;
	bottom: -115px;
	left: -155px;
}
.header-bottom .decor-sec-line:before{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 7.5px 0 7.5px;
	border-color: #07F3F6 transparent transparent
}
.header-bottom .decor-sec-line:after{
	content: "";
	width: 590px;
	height: 3px;
	background-color: #07F3F6;
	background-color: rgb(7, 243, 246);
	position: absolute;
	top: 30px;
	left: 100%;
	z-index: -1;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	-moz-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
}


/* S-ACTION */
.s-action{
	min-height: 560px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/*margin-bottom: 50px;*/
}
.action-info{
	color: #fff;
	padding: 60px 30px 15px 60px;
}
.action-info h2{
	font-size: 140px;
	font-weight: 400;
	color: #b2f923;
	letter-spacing: .3em;
}
.slogan-action{
	text-transform: uppercase;
	font-family: 'BebasNeueBook', sans-serif;
	font-weight: 400;
	font-size: 62px;
	letter-spacing: .2em;
}
.text-action{
	font-size: 24px;
	letter-spacing: .025em;
	margin-top: 60px;
}
.text-action span{
	color: #b2f923;
}
.text-action i{
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	color: #b2f923;
	font-size: 26px;
}
.img-action{
	position: absolute;
}
.img-brasl{
	right: 252px;
	bottom: 120px;
	max-width: 380px;
	width: 100%;
}
.img-bag{
	right: 0%;
	bottom: 0;
	z-index: 1;
	max-width: 444px;
	width: 100%;
}
.action-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-top: 40px;
	position: relative;
	z-index: 2;
}

/* SECTION WHAT IS LIKNEX */
.what-is-kilnex{
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;
	z-index: 1;
	color: #FFF;
}
.what-is-kilnex:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 585px 620px 0 0;
	border-color: #00707c transparent transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.what-is-kilnex:after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 470px 440px;
	border-color: transparent transparent #00707c;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.what-is-kilnex .grad-decor{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0.90;
	background: rgb(1,157,122);
	background: -moz-linear-gradient(top, rgba(1,157,122,1) 0%, rgba(0,168,181,1) 100%);
	background: -webkit-linear-gradient(top, rgba(1,157,122,1) 0%,rgba(0,168,181,1) 100%);
	background: linear-gradient(to bottom, rgba(1,157,122,1) 0%,rgba(0,168,181,1) 100%);
}
.what-is-kilnex .container{
	max-width: 1630px;
	margin: 0 auto;
	padding: 160px 30px 130px;
	position: relative;
	z-index: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.what-is-kilnex .right{
	max-width: 610px;
}
h2{
	font-family:'BebasNeueBook', sans-serif;
	font-size: 70px;
	font-weight: 300;
}
.what-is-kilnex .right  h2{
	padding-right: 160px;
	margin-bottom: 34px;
}
.what-is-kilnex .right .desc{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 54px;
}
.what-is-kilnex .desc-list li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 25px;
}
.what-is-kilnex .desc-list li:last-child{
	margin-bottom: 0;
}
.what-is-kilnex .desc-list .icon{
	width: 58px;
	height: 58px;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 58px;
	margin-right: 40px;
}
.what-is-kilnex .desc-list .icon img{
	vertical-align: -6px;
	max-width: 30px;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-ms-transition: .8s ease;
	-o-transition: .8s ease;
	transition: .8s ease;
}
.what-is-kilnex .desc-list p{
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}
.what-is-kilnex .desc-list p:before{
	content: "";
	width: 0;
	height: 1px;
	background-color: #FFF;
	position: absolute;
	bottom: -1px;
	left: 0;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-ms-transition: .6s ease;
	-o-transition: .6s ease;
	transition: .6s ease;
}
.what-is-kilnex .desc-list li:hover img{
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	transform: rotateY(360deg);
}
.what-is-kilnex .desc-list li:hover p:before{
	border-color: #FFF;
	width: 100%;
}
.what-is-kilnex .open-video{
	font-size: 18px;
	color: #07f0f5;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 100%;
	display: block;
	position: relative;
	margin-left: 130px;
	text-shadow: 1px 1px 1px #000;
}
.what-is-kilnex .open-video .info-wrap{
	position: absolute;
	display: block;
	bottom: 36%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	width: 85px;
	border: 12px solid #fff;
	border-radius: 50%;
	text-align: center;
}
.what-is-kilnex .cover_outside_block:nth-of-type(2n) .open-video{
	margin-left: 400px;
}
.what-is-kilnex .open-video .info-wrap::after {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid rgba(0,243,246,.7);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-animation: pulse-phone-in 2.5s ease 0s infinite normal;
    -o-animation: pulse-phone-in 2.5s ease 0s infinite normal;
    -moz-animation: pulse-phone-in 2.5s ease 0s infinite normal;
    animation: pulse-phone-in 2.5s ease 0s infinite normal;
}
.what-is-kilnex .open-video .info-wrap::before {
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 10px solid rgba(0,243,246,.8);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-animation: pulse-phone 2.5s ease 0s infinite normal;
    -o-animation: pulse-phone 2.5s ease 0s infinite normal;
    -moz-animation: pulse-phone 2.5s ease 0s infinite normal;
    animation: pulse-phone 2.5s ease 0s infinite normal;
}
@keyframes pulse-phone {
	0% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) scale(1.9);
		transform: translate(-50%, -50%) scale(1.9);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
}
@keyframes pulse-phone-in {
	0% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) scale(1.5);
		transform: translate(-50%, -50%) scale(1.5);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}
.what-is-kilnex .open-video .info-wrap img{
	margin-left: 7px;
}
.what-is-kilnex .open-video .text{
	max-width: 175px;
	text-align: right;
	display: none;
	font-weight: 700;
	padding-top: 8px;
}
.what-is-kilnex .open-video:before,
.what-is-kilnex .open-video:after{
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-ms-transition: .6s ease;
	-o-transition: .6s ease;
	transition: .6s ease;
}
.what-is-kilnex .open-video:before{
	content: "";
	width: 340px;
	height: 340px;
	display: block;
	border: 20px solid #fff;
	border-left-color: transparent;
	border-top-color: transparent;
	position: absolute;
	left: -20px;
	top: -20px;
	border-radius: 100%
}
.what-is-kilnex .open-video:after{
	content: "";
	width: 400px;
	height: 400px;
	display: block;
	border: 4px solid #fff;
	border-left-color: transparent;
	border-top-color: transparent;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
	position: absolute;
	left: -50px;
	top: -50px;
	border-radius: 100%
}
.what-is-kilnex .open-video:hover:after{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.what-is-kilnex .open-video:hover:before{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/* ------- SECTION TEST -------- */
.s-test{
	background-color: #102431;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 60px;
	position: relative;
	z-index: 2;
	min-height: 766px;
}
.s-test h2{
	font-size: 70px;
	color: #07f3f6;
	text-align: center;
	padding: 0 15px;
}
.test-wrap{
	max-width: 1250px;
	width: 1250px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: rgb(16, 36, 49);
	box-shadow: 0px 0px 14.04px 3.96px rgba(0, 0, 0, 0.19);
	padding: 10px 30px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: -110px;
}
.test-wrap .step-wrap{
	display: none;
}
.test-wrap.active-step1 .step-wrap.step1,
.test-wrap.active-step2 .step-wrap.step2,
.test-wrap.active-step3 .step-wrap.step3,
.test-wrap.active-step4 .step-wrap.step4,
.test-wrap.active-step5 .step-wrap.step5,
.test-wrap.active-last-step .step-wrap.last-step{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.last-step-img img{
	max-width: 100%;
}
.test-wrap .step-wrap .left{
	width: 100%;
	max-width: 305px;
	padding-right: 30px;
	padding-top: 160px;
	border-right: 2px solid #1a3141;
	min-height: 668px;
}
.test-wrap .step-wrap.last-step .left{
	padding-top: 35px;
}
.test-wrap .step-wrap .left .title{
	font-size: 22px;
	font-weight: 600;
	color: #0ff;
	line-height: 34px;
	text-transform: uppercase;
	margin-bottom: 135px;
}
.test-wrap .step-wrap .left .discount{
	font-size: 93px;
	font-weight: 900;
	color: #fff;
	text-align: center;
}
.test-wrap .step-wrap .right{
	width: 100%;
	padding-left: 110px;
	padding-top: 40px;
	max-width: 760px;
}
.test-wrap .step-wrap .right .question{
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
	color: #fff;
	padding-right: 30px;
	margin-bottom: 50px;
}
.test-wrap .step-wrap .right .decor-steps{
	background-color: #102431;
	position: relative;
	height: 10px;
	width: 100%;
	border: 1px solid #00ffff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(116,255,255,0.29);
	-moz-box-shadow: 0px 0px 20px -2px rgba(116,255,255,0.29);
	box-shadow: 0px 0px 20px -2px rgba(116,255,255,0.29);
	margin-bottom: 100px;
}
.test-wrap .step-wrap .right .decor-steps .decor-line{
	content: "";
	width: 20%;
	height: 8px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0ff;
	border-radius: 8px;
}
.test-wrap .step-wrap .answers-list{
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #fff;
	margin-bottom: 110px;
}
.test-wrap .step-wrap .answers-list li{
	position: relative;
	padding-left: 45px;
	margin-bottom: 26px;
}
.test-wrap .step-wrap .answers-list li:last-child{
	margin-bottom: 0;
}
.test-wrap .step-wrap .answers-list input{
	position: absolute;
	top: 5px;
	left: 9px;
	width: 14px;
	height: 14px;
	margin: 0;
	opacity: 0;
}
.test-wrap .step-wrap .answers-list label{
	cursor: pointer;
}
.test-wrap .step-wrap .answers-list .decor{
	width: 14px;
	height: 14px;
	border: 1px solid #0ff;
	border-radius: 100%;
	position: absolute;
	left: 9px;
	top: 5px;
}
.test-wrap .step-wrap .answers-list .decor:before{
	content: "";
	height: 6px;
	width: 6px;
	border-radius: 100%;
	background-color: #0ff;
	position: absolute;
	top: 50%;
	left: 50%;
	letter-spacing: 0;
	transform: translate(-50%, -50%);
	opacity: 0;
}
.test-wrap .step-wrap .answers-list input:checked + .decor:before{
	opacity: 1;
}
.test-wrap .step-wrap .blue-btn{
	width: 450px;
	text-align: center;
}
.test-wrap .step-wrap.last-step .decor-steps:before{
	width: 100.2%;
}
.test-wrap .step-wrap .form-wrap li{
	margin-bottom: 50px;
}
.test-wrap .step-wrap .form-wrap li:last-child{
	margin-bottom: 0;
}
.test-wrap .step-wrap .form-wrap{
	margin-bottom: 115px;
}
.test-wrap .step-wrap input.blue-btn{
	border: none;
	font-weight: 	700;
	font-size: 16px;
}
/* ----------- SECTION APPLYING ----------- */
.s-applying{
	background-repeat: no-repeat;
	background-position: top left;
	color: #fff;
	position: relative;
	padding-top: 180px;
	padding-bottom: 75px;
	z-index: 1;
	background: rgb(48,177,108); /* Old browsers */
	background: -moz-linear-gradient(-55deg, rgba(48,177,108,1) 0%, rgba(51,153,153,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-55deg, rgba(48,177,108,1) 0%,rgba(51,153,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(150deg, rgba(48,177,108,1) 0%,rgba(51,153,153,1) 100%);
}
.s-applying:before{
	content: "";
	width: 380px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/bg-applying.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.s-applying h2{
	text-align: center;
	padding: 0 15px;
	font-size: 60px;
	position: relative;
	z-index: 1;
}
.applying-cert{
	max-width: 800px;
	position: relative;
	z-index: 1;
	margin: 40px auto 0;
	display: block;
}
.applying-cert img{
	max-width: 100%;
}
/* ----------- SECTION CALL-LINE ----------- */
.s-call-line{
	min-height: 140px;
	padding: 15px;
	background-color: #00707c;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.s-call-line p{
	padding-right: 60px;
	font-size: 18px;
	color: #fff;
}
/* ----------- SECTION BRACELETS ----------- */
.s-bracelets{
	color: #000;
	padding: 78px 15px 55px;
	position: relative;
}
.info-bracelet{
	max-width: 990px;
	margin: 0 auto;
	padding-right: 120px;
	padding-right: 30px;
	padding-left: 120px;
	position: relative;
	z-index: 3;
}
.info-bracelet .sub-title{
	font-size: 18px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 	3px solid #00d9cc;
	padding-bottom: 23px;
	margin-bottom: 40px;
	color: #ff0000;
	font-weight: 700;
}
.info-bracelet .title{
	font-size: 133px;
	line-height: 87px;
	text-transform: uppercase;
	font-weight: 300;
	font-family:'BebasNeue', sans-serif;
	margin-bottom: 35px;
}
.info-bracelet .title span{
	color: #00d9cc;
	font-size: 100px;
	font-weight: 400;
	display: block;
	font-family:'BebasNeueBook', sans-serif;
	padding-top: 15px;
}
.info-bracelet .desc{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 38px;
	max-width: 385px;
}
.s-bracelets .img-bracelet{
	position: absolute;
	bottom: 0;
	right: 200px;
}
.s-bracelets .img-bracelet img{
	max-width: 630px;
	max-height: 550px;
}
.s-bracelets:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 480px 0 480px 480px;
	border-color: transparent transparent transparent #00707c;
	position: absolute;
	top: 0;
	left: 0;
}
.s-bracelets .decor-el1{
	position: absolute;
	top: -100px;
	right: 10px;
}
.s-bracelets .decor-el2{
	position: absolute;
	bottom: 230px;
	right: 30px;
}
.s-bracelets .decor-el3{
	position: absolute;
	top: 30px;
	left: 0;
}
/* ----------- SECTION DESCRIPTION ----------- */
.s-description{
	position: relative;
	z-index: 1;
	padding: 70px 15px 140px;
	color: #FFF;
	text-align: center;
}
.s-description:before{
	content: "";
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 285px 285px 0 0;
	border-color: #00707c transparent transparent
}
.s-description:after{
	content: "";
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 310px 310px;
	border-color: transparent transparent #00707c
}
.s-description .grad-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(48,177,108); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(48,177,108,1) 0%, rgba(51,153,153,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(48,177,108,1) 0%,rgba(51,153,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(20deg, rgba(48,177,108,1) 0%,rgba(51,153,153,1) 100%);
	opacity: 0.9;
}
.s-description h2{
	margin-bottom: 60px;
}
.s-description .content-desc{
	position: relative;
	z-index: 3;
}
.s-description .desc-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 1170px;
	margin: 0 auto;
}
.s-description .desc-list li{
	margin: 0 50px;
	width: 33.33%;
}
.s-description .desc-list .icon{
	height: 130px;
	width: 130px;
	border-radius: 100%;
	border: 2px solid #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 0 auto 60px;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-ms-transition: .6s ease;
	-o-transition: .6s ease;
	transition: .6s ease;
}
.s-description .desc-list .icon img{
	max-width: 70px;
	display: block;
}
.s-description .desc-list .title{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 20px;
	display: block;
}
.s-description .desc-list p{
	font-size: 18px;
	line-height: 26px;
}
.s-description .desc-list li:hover .icon{
	transform: rotateY(360deg);
	margin-bottom: 40px;
}
/* ----------- SECTION DISCOUNT ----------- */
span.color{
	color: #0FF;
}
.s-discount{
	color: #FFF;
	position: relative;
	padding-top: 65px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.s-discount:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 310px 310px 0;
	border-color: transparent #00707c transparent
}
.s-discount .flex-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	max-width: 1310px;
	padding: 0 30px;
	margin: 0 auto;
	text-align: right;
	position: relative;
	min-height: 785px;
}
.s-discount .flex-wrap .lamp{
	position: absolute;
	bottom: 0;
	left: 0;
}
.s-discount .flex-wrap .lamp img{
	display: block;
}
.s-discount .flex-wrap .lamp:hover .decor{
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}
.s-discount .flex-wrap .lamp .decor{
	width: 600px;
	height: 600px;
	display: block;
	border: 3px solid #00f3f6;
	border-top-color: rgb(0, 243, 246);
	border-left-color: rgb(0, 243, 246);
	border-left-color: transparent;
	border-top-color: transparent;
	-webkit-transform: rotate(100deg);
	-moz-transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	-o-transform: rotate(100deg);
	transform: rotate(100deg);
	position: absolute;
	left: -58px;
	top: -34px;
	border-radius: 100%;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-ms-transition: .6s ease;
	-o-transition: .6s ease;
	transition: .6s ease;
}
.s-discount .flex-wrap .lamp .decor:before{
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 501px;
	left: 80px;
	display: block;
	background-color: #07F3F6;
	border-radius: 100%;
}
.s-discount .flex-wrap .lamp .decor:after{
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	bottom: 501px;
	right: 80px;
	display: block;
	background-color: #07F3F6;
	border-radius: 100%;
}
.s-discount .flex-wrap .right{
	max-width: 610px;
	padding-top: 120px;
}
.s-discount .flex-wrap h2{
	margin-bottom: 27px;
}
.s-discount .flex-wrap .desc{
	font-size: 18px;
	line-height: 28px;
	padding-left: 135px;
	margin-bottom: 60px;
}
.s-discount .flex-wrap .counter-wrap{
	height: 230px;
	margin-bottom: 110px;
}
.s-discount .flex-wrap .blue-btn{
	width: 450px;
	text-align: center;
}
/*.s-discount .decor-line{
	position: absolute;
	left: 250px;
	bottom: 105px;
	width: 40%;
	height: 3px;
	background-color: #07F3F6;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	-moz-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
}
.s-discount .decor-line span{
	width: 12px;
	height: 12px;
	position: absolute;
	bottom: 59px;
	left: -4px;
	display: block;
	background-color: #07F3F6;
	border-radius: 100%;
}
.s-discount .decor-line:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 3px;
	height: 60px;
	background-color: #07F3F6;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	-moz-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
}
.s-discount .decor-line:after{
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	bottom: -4px;
	right: -1px;
	display: block;
	background-color: #07F3F6;
	border-radius: 100%;
}*/
.ujic-classic span.countdown_txt{
	font-size: 18px !important;
	line-height: 45px !important;
	color: #FFF !important;
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase !important;
	position: absolute;
	width: 120px;
	bottom: auto;
	top: -55px;
	padding-right: 6px;
}
.ujic-classic .countdown_section{
	border: 1px solid #00ffff;
	border-radius: 10px;
	padding: 20px 0 10px 0;
	min-width: 120px;
	min-height: 165px;
	-moz-box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
	box-shadow: 0px 0px 5px 5px rgba(116,255,255,0.10);
}
.ujic-classic span.countdown_amount{
	background: transparent !important;
	text-shadow: none !important;
	box-shadow: none !important;
	font-size: 90px !important;
	font-family:'BebasNeueBook', sans-serif !important;
	padding: 0px 0px !important;
	margin-right: 0px !important;
	color: #0FF !important;
}
.ujiCountdown .countdown_row .countdown_section:first-child span.countdown_amount{
	color: #bbe3e1 !important;
}
.ujic-classic{
	overflow: visible !important;
}


/* ----------- SECTION REVIEWS ----------- */
.s-reviews{
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #00707c;
	padding: 65px 15px;
	text-align: center;
}
.s-reviews h2{
	color: #07F3F6;
	margin-bottom: 45px;
}
.slider-reviews{
	color: #3A3A3A;
	max-width: 960px;
	margin: 0 auto;
}
.slider-reviews .item-slide{
	margin: 0 15px;
	/*background-image: url('../img/23.png');*/
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #FFF;
	border-radius: 4px;
	overflow: hidden;
	padding: 50px 17px 15px;
	min-height: 400px;
	position: relative;
	z-index: 2;
}
.slider-reviews .item-slide:before{
	content: "";
	width: 100%;
	height: 5px;
	background: rgb(51,153,153); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(51,153,153,1) 0%, rgba(48,177,108,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(51,153,153,1) 0%,rgba(48,177,108,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(51,153,153,1) 0%,rgba(48,177,108,1) 100%);
	position: absolute;
	bottom: 0;
	left: 0;
}
.slider-reviews .item-slide:after{
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(7,243,246,0.2);
	background-image: url('../img/23.png');
}
.slider-reviews .item-slide .name{
	font-size: 16px;
	font-weight: 700;
	position: relative;
	z-index: 1;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.slider-reviews .item-slide .city{
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	z-index: 1;
	font-weight: 600;
	line-height: 24px;
	color: #999;
	letter-spacing: 0.05em;
	margin-bottom: 40px;
}
.slider-reviews .item-slide .review{
	font-size: 14px;
	line-height: 24px;
	position: relative;
	z-index: 1;
}
.slider-reviews .slick-dots{
	position: absolute;
	left: 50%;
	bottom: -37px;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.slider-reviews .slick-dots li{
	margin: 0 6px;
	padding: 0;
	background-color: #FFF;
	border-radius: 100%;
	height: 10px;
	width: 10px;
	border: 2px solid #00707c;
	font-size: 0;
	position: relative;
	cursor: pointer;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}
.slider-reviews .slick-dots li:hover{
	background-color: #07F3F6;
}
.slider-reviews .slick-dots button{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	padding: 0;
	height: 8px;
	width: 8px;
}
.slider-reviews .slick-dots li.slick-active{
	background-color: #07F3F6;
	border-color: #07F3F6;
	display: block;
}
.slider-reviews .slick-nav{
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}
.slider-reviews .arrow-prev{
	left: -90px;
	padding-right: 10px;
}
.slider-reviews .arrow-prev:hover{
	left: -95px;
	padding-right: 5px;
}
.slider-reviews .arrow-next{
	right: -90px;
}
.slider-reviews .arrow-next:hover{
	right: -95px;
	padding-left: 5px;
}
/* ----------- SECTION CATALOG ----------- */
.s-catalog{
	padding: 65px 15px 60px;
	background-color: #eefdff;
}
.s-catalog h2{
	color: #000;
	text-align: center;
	margin-bottom: 35px;
}
.catalog-list{
	max-width: 1285px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.catalog-list .item-catal{
	width: calc(50% - 30px);
	margin: 0 15px 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.catalog-list .item-catal .left{
	max-width: 320px;
	padding: 30px 30px 20px;
	border-radius: 5px;
	background-color: #eefdff;
	box-shadow: 0px 0px 17.64px 3.36px rgba(0, 112, 124, 0.19);
}
.catalog-list .item-catal .left .header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.catalog-list .item-catal .left .color{
	font-size: 14px;
	font-weight: 600;
	color: #8c8c8c;
	letter-spacing: 0.05em;
}
.catalog-list .item-catal .left .color span{
	line-height: 11px;
	display: block;
}
.catalog-list .item-catal .left .icon img{
	display: inline-block;
	margin-right: 4px;
	max-width: 36px;

}
.catalog-list .item-catal .left .icon img:last-child{
	margin: 0;
}
.catalog-list .item-catal .color-list li{
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-right: 4px;
}
.catalog-list .item-catal .color-list li:last-child{
	margin-right: 0;
}
.catalog-list .item-catal .color-list input{
	width: 20px;
	height: 20px;
	margin: 0;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}
.catalog-list .item-catal .color-list input:checked + .decor{
	border: 1px solid #00707c;
}
.catalog-list .item-catal .color-list .decor{
	width: 20px;
	height: 20px;
	background-color: #f1f1f1;
	border-radius: 100%;
	border: 1px solid transparent;
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 0, 0, 0.15);
}
.catalog-list .item-catal .color-list .decor span{
	width: 12px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	border-radius: 100%;
}
.slider-catalog .item-slider{
	min-height: 410px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.slider-catalog .item-slider img{
	max-width: 250px;
}
.slider-catalog .slick-nav{
	position: absolute;
	z-index: 3;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
	width: 40px;
	height: 40px;
	background-color: rgba(128,128,128,.5);
	border-radius: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.slider-catalog .arrow-prev{
	left: -20px;
}
.slider-catalog .arrow-next{
	right: -20px;
}
.slider-catalog .slick-disabled{
	opacity: .5;
	cursor: default;
}
.catalog-list .price-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	font-family:'BebasNeueBook', sans-serif;
	font-size: 50px;
	color: #00707c;
}
.catalog-list .price-wrap .old-price{
	font-size: 22px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	color: #8c8c8c;
	text-decoration: line-through;
}
.catalog-list .right{
	background-color: #00707c;
	position: relative;
	z-index: 2;
	margin: 20px 0;
	color: #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: .3s ease;
	padding: 27px 30px 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.catalog-list .item-catal:hover .right{
	margin-right: -15px;
	padding-right: 45px;
}
.catalog-list .right .title{
	font-size: 22px;
	font-weight: 600;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.catalog-list .right .type{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	color: #07f3f6;
	margin-bottom: 35px;
}
.catalog-list .right .desc{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 53px;
}
.catalog-list .right .desc-list li{
	position: relative;
	padding-left: 35px;
	font-size: 14px;
	margin-bottom: 17px;
}
.catalog-list .right .desc-list li:last-child{
	margin-bottom: 0;
}
.catalog-list .right .desc-list .icon{
	height: 20px;
	width: 24px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: absolute;
	top: -2px;
	left: 0;
}
.catalog-list .right .bottom{
	padding-top: 15px;
}
.catalog-list .right .blue-btn{
	width: 260px;
	text-align: center;
	margin: 0 -15px;
}
/* ----------- SECTION CALLBACK ----------- */
.s-callback{
	background-color: #00707C;
	padding: 120px 15px 45px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	position: relative;
	z-index: 2;
}
.s-callback::after {
	content: "";
	clear: both;
	display: table;
}
.s-callback .flex-wrap{
	max-width: 1250px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	margin-right: 160px;
}
.s-callback .left h2{
	color: #07F3F6;
	letter-spacing: 0.04em;
}
.s-callback .left .desc{
	font-size: 18px;
	line-height: 28px;
	color: #FFF;
	padding-right: 70px;
}
.s-callback .left{
	max-width: 610px;
	padding-right: 40px;
}
.s-callback .right .form-wrap li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 45px;
}
.s-callback .right .form-wrap li:last-child{
	margin-bottom: 0;
}
.s-callback .right .form-wrap li:nth-last-child(2){
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.s-callback .right .form-wrap li:nth-last-child(2) label{
	margin-bottom: 10px;
}
.s-callback .right .form-wrap label{
	min-width: 160px;
	text-align: right;
	color: #CBCBCB;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 30px;
}
.s-callback .right .form-wrap .wpcf7-form-control-wrap,
.s-callback .right .form-wrap .wpcf7-form-control-wrap{
	max-width: 450px;
}
.s-callback .right .form-wrap textarea{
	margin-top: 50px;
}
.s-callback .right .form-wrap .blue-btn{
	min-width: 260px;
	font-size: 16px;
	border: none;
}
.s-callback .decor-woman{
	position: absolute;
	display: block;
	left: 0;
	bottom: -262px;
	max-width: 340px;
}
/* ----------- SECTION ABOUT ----------- */
.s-about{
	background: rgb(48,160,171); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(48,160,171,1) 0%, rgba(53,186,91,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(48,160,171,1) 0%,rgba(53,186,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(48,160,171,1) 0%,rgba(53,186,91,1) 100%);
	padding-top: 40px;
	color: #FFF;
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.s-about:before{
	content: "";
	width: 300px;
	height: 570px;
	background-image: url(../img/bg-about-box.png);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.s-about .about-wrap{
	position: relative;
	z-index: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 1250px;
	margin: 0 auto;
}
.s-about .about-wrap .left{
	max-width: 550px;
	min-width: 522px;
	padding-top: 125px;
	padding-right: 60px;
}
.s-about .about-wrap h2{
	margin-bottom: 70px;
}
.s-about .about-wrap .sub-title{
	font-size: 26px;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 24px;
}
.s-about .about-wrap .desc{
	font-size: 18px;
	line-height: 36px;
	padding-right: 5px;
}
.s-about .about-wrap img{
	display: block;
	max-width: 700px;
}
.s-about .information{
	max-width: 1324px;
	margin: 80px auto 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgb(0, 112, 124);
	box-shadow: 0px 0px 58.28px 3.72px rgba(0, 19, 20, 0.19);
	min-height: 714px;
	padding: 65px 150px;
	position: relative;
	z-index: 2;
}
.s-about .information h2{
	text-align: center;
	margin-bottom: 175px;
	position: relative;
}
.s-about .information:hover h2:before{
	bottom: -115px;
}
.s-about .information h2:before{
	content: "";
	width: 43px;
	height: 43px;
	background-image: url(../img/icon21.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: -65px;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-ms-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}
.s-about .tabs-info .tab{
	border-bottom: 1px solid #fff;
	padding: 30px 0;
	cursor: pointer;
}
.s-about .tabs-info .tab:hover .title{
	color: #07F3F6;
}
.s-about .tabs-info .tab:last-child{
	border: none;
}
.s-about .tabs-info .tab .title{
	font-size: 26px;
	font-weight: 600;
	line-height: 32px;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-ms-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
.s-about .tabs-info .tab .content{
	font-size: 18px;
	line-height: 32px;
	padding-top: 25px;
	display: none;
	width: 100% !important;
}
/* -------- FOOTER ------- */
footer .flex-wrap{
	background-color: #102431;
	color: #FFF;
	padding: 25px;
	height: 190px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
footer .logo-footer img{
	display: inline-block;
	max-width: 70px;
}
footer .logo-footer span{
	font-family: 'BebasNeue', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	font-size: 68px;
	color: #FFF;
}
footer .logo-footer span:before{
	position: absolute;
	top: 16px;
	right: -20px;
	font-size: 11px;
	font-family: 'BebasNeue', sans-serif;
	font-weight: 400;
	color: #fff;
	content: "R";
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 3px 8px;
	padding: 0px 4px;
}
footer .desc-footer{
	max-width: 516px;
	min-width: 516px;
	font-size: 14px;
	line-height: 24px;
}
footer .desc-footer .title{
	font-size: 16px;
	text-transform: uppercase;
}
footer .cont-footer{
	font-size: 14px;
}
footer .cont-footer li{
	margin-bottom: 10px;
}
footer .cont-footer li:last-child{
	margin-bottom: 0;
}
footer .cont-footer img{
	max-width: 13px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}
footer .cont-footer a{
	color: #FFF;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}
footer .cont-footer a:hover{
	color: #0CCACC;
}
footer .soc-footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	max-width: 358px;
	width: 100%;
}
footer .soc-footer a{
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}
footer .soc-footer a:hover{
	opacity: 0.4;
}
footer .bottom-footer{
	background-color: #071117;
	font-size: 12px;
	color: #FFF;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-align: center;
	padding: 10px 15px;
}
footer .bottom-footer a{
	color: #FFF;
	border-bottom: 1px solid #fff;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}
footer .bottom-footer a:hover{
	border-color: transparent;
}
/* 27 06 2018 */
.s-success{
	min-height: 940px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.s-success .bg-wrap{
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center left;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: 20s linear 0s normal none infinite running pulse;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.s-success:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	z-index: 2;
}
.s-success .content{
	padding: 50px 50px 50px 650px;
	text-align: right;
	position: relative;
	z-index: 3;
}
.s-success h1{
	margin-top: 0;
	margin-bottom: 5px;
	max-width: 900px;
	color: #FFF;
	font-family: 'BebasNeueBook', sans-serif;
	font-size: 67px;
	font-weight: 300;
}.s-success .desc{
	margin-bottom: 50px;
	font-size: 26px;
	color: #FFF;
	font-weight: 300;
}
@keyframes pulse{
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
/* -------------- MEDIA --------------- */
@media(max-width: 1800px){
	.action-info h2 {
		font-size: 126px;
	}
	.slogan-action{
		font-size: 56px;
	}
	.img-brasl {
		right: 220px;
	}
	.action-info {
		padding: 60px 30px 15px 60px;
	}
}
@media(max-width: 1750px){
	.s-callback .flex-wrap{
		margin-right: 70px;
	}
	.s-callback .right .form-wrap .wpcf7-form-control-wrap{
		max-width: 350px;
	}
	.s-callback .left{
		padding-right: 0;
		max-width: 570px;
	}
	h1{
		max-width: 450px;
		margin: 55px auto 0;
	}
	.header-content{
		padding-right: 200px;
	}
	.ujic-classic .countdown_section{
		min-width: 110px;
	}
	.ujic-classic span.countdown_txt{
		padding-right: 13px;
	}
}
@media(max-width: 1660px){
	.s-action {
		min-height: 520px;
		background-position: center;
	}
	.action-info h2 {
		font-size: 116px;
	}
	.slogan-action {
		font-size: 52px;
	}
	.text-action {
		font-size: 22px;
	}
	.text-action i {
		font-size: 24px;
	}
	.img-bag{
		max-width: 390px;
	}
	.img-brasl{
		max-width: 300px;
		right: 168px;
	}
	.action-info {
		padding: 60px 50px 15px 60px;
	}
}
@media(max-width: 1500px){
	.nav-list li a{
		font-size: 16px;
	}
	.header-bottom{
		right: 70px;
	}
	.header-bottom{
		width: 400px;
	}
	.header-bottom img{
		max-width: 400px;
	}
	.header-bottom .decor-line::before{
		height: 458px;
	}
	.header-bottom .decor-sec-line::after{
		width: 535px;
	}
	.s-bracelets .decor-el1{
		top: -65px;
	}
	.s-bracelets .img-bracelet{
		right: 100px;
	}
	.s-bracelets .img-bracelet img{
		max-width: 500px;
	}
	.s-bracelets .decor-el3{
		top: 90px;
	}
	.s-bracelets .decor-el3 img{
		max-width: 450px;
	}
	.s-description::after{
		border-width: 0 0 200px 200px;
	}
	.s-discount::before{
		border-width: 0 200px 200px 0;
	}
	.s-callback .decor-woman{
		bottom: -255px;
		max-width: 330px;
	}
	.s-callback .left{
		max-width: 460px;
	}
	.s-about .about-wrap img{
		max-width: 500px;
	}
	.s-about .about-wrap .left{
		max-width: 700px;
		padding-right: 20px;
		padding-left: 50px;
	}
	footer .soc-footer{
		max-width: 250px;
	}
	.action-info h2 {
		font-size: 102px;
	}
	.slogan-action {
		font-size: 46px;
	}
	.ujic-classic span.countdown_txt{
		font-size: 16px !important;
		line-height: 35px !important;
		width: 100px;
	}
	.ujic-classic .countdown_section{
		padding: 20px 0 10px 0;
		min-width: 90px;
		min-height: 145px;
	}
	.ujic-classic span.countdown_amount{
		font-size: 70px !important;
	}
	.what-is-kilnex .open-video{
		width: 260px;
		height: 260px;
	}
	.what-is-kilnex .open-video:before {
		width: 300px;
		height: 300px;
	}
	.what-is-kilnex .open-video:after {
		width: 340px;
		height: 340px;
		left: -40px;
		top: -40px;
	}
	.what-is-kilnex .cover_outside_block:nth-of-type(2n) .open-video {
		margin-left: 378px;
	}
	/* 27.06.2018 */
	.s-success .content{
		padding-left: 450px;
	}
}
@media(max-width: 1365px){
	.top-right .top-phone{
		margin-right: 10px;
		font-size: 16px;
	}
	.nav-list li{
		margin-right: 10px;
	}
	header{
		min-height: 700px;
	}
	h2,
	.s-test h2{
		font-size: 60px;
	}
	.what-is-kilnex .container{
		padding-bottom: 100px;
		z-index: 3;
	}
	.what-is-kilnex::before{
		border-width: 385px 420px 0 0;
	}
	.what-is-kilnex::after{
		border-width: 0 0 270px 240px;
	}
	.what-is-kilnex .open-video{
		margin-left: 30px;
	}
	.test-wrap{
		width: 100%;
		max-width: 970px;
	}
	.test-wrap .step-wrap .left .title{
		font-size: 20px;
	}
	.test-wrap .step-wrap .right{
		padding-left: 30px;
		max-width: 700px;
	}
	.test-wrap .step-wrap .right .question{
		font-size: 22px;
	}
	.test-wrap .step-wrap .left{
		max-width: 255px;
	}
	.s-applying .applying-list{
		max-width: 1100px;
	}
	.s-applying .applying-list > li{
		max-width: 300px;
		font-size: 15px;
	}
	.s-applying .applying-list .header img{
		margin-bottom: 10px;
	}
	.info-bracelet .title{
		font-size: 100px;
	}
	.info-bracelet .title span{
		font-size: 80px;
	}
	.info-bracelet .sub-title{
		padding-bottom: 10px;
		margin-bottom: 25px;
	}
	.s-discount .flex-wrap{
		max-width: 1100px;
	}
	.s-discount .flex-wrap h2{
		margin-bottom: 46px;
	}
	.s-discount .flex-wrap .right{
		max-width: 560px;
	}
	.catalog-list{
		max-width: 1170px;
	}
	.catalog-list .item-catal .left{
		max-width: 300px;
		padding: 20px 10px 10px;
	}
	.catalog-list .right{
		padding: 17px 15px 15px;
	}
	.catalog-list .item-catal:hover .right{
		margin-right: 0;
		padding-right: 15px;
	}
	.catalog-list .right .blue-btn{
		margin: 0;
		width: 220px;
	}
	.slider-catalog .item-slider img{
		max-width: 290px;
	}
	.slider-catalog .arrow-prev{
		left: -5px;
	}
	.slider-catalog .arrow-next{
		right: -5px;
	}
	.s-about .information{
		max-width: 1220px;
		padding: 45px 60px 20px;
		min-height: 650px;
	}
	footer .desc-footer{
		max-width: 430px;
		min-width: 430px;
		padding-left: 20px;
	}
	footer .soc-footer{
		max-width: 200px;
	}
	.s-discount .flex-wrap .lamp img{
		max-width: 400px;
	}
	.s-discount .flex-wrap .lamp .decor{
		left: -31px;
		top: 0px;
		width: 450px;
		height: 450px;
	}
	.s-discount .flex-wrap .lamp .decor:before{
		top: 373px;
		left: 57px;
	}
	.s-discount .flex-wrap .lamp .decor:after{
		bottom: 373px;
		right: 57px;
	}
	.s-callback .decor-woman {
		bottom: -193px;
		max-width: 250px;
	}
	.s-callback .right .form-wrap .wpcf7-form-control-wrap{
		max-width: 300px;
	}
	.s-callback .flex-wrap{
		margin-right: 30px;
	}
	.s-action {
		min-height: 460px;
	}
	.action-info {
		padding: 60px 30px 15px 40px;
	}
	.img-bag {
		max-width: 300px;
	}
	.img-brasl {
		right: 0px;
		bottom: 146px;
		max-width: 270px;
	}
	.action-info h2 {
		font-size: 96px;
	}
	.slogan-action {
		font-size: 43px;
	}
	.text-action {
		font-size: 20px;
	}
	.text-action i {
		font-size: 22px;
	}
	.ujic-classic span.countdown_txt{
		font-size: 14px !important;
		line-height: normal !important;
		width: 100px;
		bottom: auto;
		top: -35px;
	}
	.ujic-classic .countdown_section{
		padding: 10px 0 10px 0;
		min-width: 100px;
		min-height: 105px;
	}
	.ujic-classic span.countdown_amount{
		font-size: 60px !important;
	}
	.what-is-kilnex .cover_outside_block:nth-of-type(2n) .open-video {
		margin-left: 270px;
	}
	.what-is-kilnex .open-video {
		width: 240px;
		height: 240px;
	}
	.what-is-kilnex .open-video:before {
		width: 280px;
		height: 280px;
	}
	.what-is-kilnex .open-video:after {
		width: 320px;
		height: 320px;
	}
	.what-is-kilnex .right {
		max-width: 580px;
	}
	/* 27.06.2018 */
	.s-success{
		min-height: 780px;
	}
	.s-success .content{
		padding-left: 250px;
	}
	h1{
		max-width: 450px;
		margin: 25px auto 0;
		text-shadow: 1px 1px 1px #fff;
	}
}
@media(max-width: 1199px){
	.top-right{
		text-align: center;
		max-width: 200px;
	}
	.top-right .top-phone{
		margin-bottom: 10px;
		margin-right: 0;
	}
	.top-right .blue-btn{
		padding: 5px 25px 5px;
		font-size: 14px;
	}
	.nav-list li a{
		font-size: 14px;
	}
	.header-bottom{
		width: 340px;
	}
	.header-bottom img{
		max-width: 340px;
	}
	.header-bottom .decor-line::before{
		height: 365px;
	}
	.header-bottom .decor-sec-line::after{
		width: 475px;
	}
	.what-is-kilnex::before {
		border-width: 285px 320px 0 0;
	}
	.what-is-kilnex .open-video .info-wrap {
		bottom: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, 50%);
		transform: translate(-50%, 50%);
	}
	.what-is-kilnex .open-video .text{
		font-size: 16px;
	}
	.what-is-kilnex .right h2 {
		padding-right: 0;
	}
	.what-is-kilnex .right{
		max-width: 550px;
	}
	.what-is-kilnex .open-video {
		width: 220px;
		height: 220px;
	}
	.what-is-kilnex .open-video:before {
		width: 260px;
		height: 260px;
	}
	.what-is-kilnex .cover_outside_block:nth-of-type(2n) .open-video {
		margin-left: 240px;
	}
	.what-is-kilnex .left {
		padding-right: 66px;
	}
	.what-is-kilnex .container{
		padding: 110px 30px 80px;
	}
	.what-is-kilnex .open-video .info-wrap::before{
		border: 6px solid rgba(0,243,246,.8);
	}
	.what-is-kilnex .open-video:after {
		width: 300px;
		height: 300px;
	}
	.what-is-kilnex .right .desc{
		font-size: 16px;
		margin-bottom: 30px;
	}
	.s-bracelets .decor-el1{
		top: -20px;
	}
	.s-bracelets .decor-el1 img{
		max-width: 150px;
	}
	.s-bracelets .decor-el3 img{
		max-width: 350px;
	}
	.s-bracelets .img-bracelet img{
		max-width: 400px;
	}
	.s-bracelets .img-bracelet{
		right: 50px;
	}
	.slider-reviews .arrow-prev{
		left: -20px;
	}
	.slider-reviews .arrow-next{
		right: -20px;
	}
	.catalog-list .item-catal .left{
		max-width: 250px;
	}
	.catalog-list .item-catal .color-list{
		max-width: 150px;
	}
	.catalog-list{
		max-width: 980px;
	}
	.catalog-list .right .blue-btn{
		width: 170px;
	}
	.catalog-list .right .type{
		margin-bottom: 15px;
	}
	.catalog-list .right .desc{
		margin-bottom: 20px;
	}
	.catalog-list .price-wrap{
		font-size: 42px;
	}
	.slider-catalog .item-slider img{
		max-width: 225px;
	}
	.s-callback .left{
		max-width: 320px;
	}
	.s-callback .left .desc{
		padding-right: 0;
	}
	.s-callback .flex-wrap{
		margin-right: 0;
	}
	.s-callback .right .form-wrap label{
		margin-right: 10px;
	}
	.s-about .about-wrap img{
		max-width: 350px;
	}
	.s-about .about-wrap .left{
		max-width: 650px;
	}
	.s-about .information{
		max-width: 900px;
	}
	.s-about .information h2{
		margin-bottom: 120px;
	}
	footer .logo-footer img{
		max-width: 40px;
	}
	footer .logo-footer span{
		font-size: 50px;
	}
	footer .desc-footer{
		padding-left: 10px;
		max-width: 350px;
		min-width: 350px;
	}
	footer .soc-footer{
		max-width: 170px;
	}
	.slider-reviews .arrow-prev:hover {
		left: -20px;
		padding: 0;
	}
	.slider-reviews .arrow-next:hover {
		right: -20px;
		padding: 0;
	}
	.ujic-classic span.countdown_txt{
		width: 70px;
		bottom: auto;
		top: -33px;
	}
	.ujic-classic .countdown_section{
		min-width: 70px;
		min-height: 85px;
	}
	.ujic-classic span.countdown_amount{
		font-size: 40px !important;
	}
	.img-bag {
		max-width: 260px;
	}
	.img-brasl {
		right: 108px;
		bottom: 136px;
		max-width: 176px;
	}
	.action-info h2 {
		font-size: 86px;
	}
	.slogan-action {
		font-size: 38px;
	}
	.text-action {
		font-size: 18px;
	}
	.text-action i {
		font-size: 20px;
	}
	.text-action {
		font-size: 18px;
		margin-top: 48px;
	}
	.s-action {
		min-height: 414px;
	}
	.action-wrap {
		padding-top: 34px;
	}
	.what-is-kilnex .container{
		-ms-align-items: center;
		align-items: center;
	}
	.s-applying h2 {
		font-size: 48px;
	}
	.applying-cert {
		max-width: 750px;
	}
	/* 27.06.2018 */
	.s-success h1{
		font-size: 60px;
	}
	.s-success .desc{
		font-size: 22px;
	}
}
@media(max-width: 991px){
	.top-menu{
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.top-right{
		margin-bottom: 10px;
	}
	.top-right .top-phone{
		margin-bottom: 5px;
	}
	header{
		height: auto;
	}
	h1{
		margin-top: 30px;
	}
	.header-bottom{
		position: relative;
		right: auto;
		bottom: auto;
		margin: 0 auto;
	}
	.header-content{
		padding-right: 0;
	}
	.header-bottom .decor-sec-line{
		left: 147px;
	}
	.header-bottom .decor-sec-line::after{
		width: 173px;
	}
	header{
		background-position: center;
	}
	h2, .s-test h2{
		font-size: 50px;
	}
	.what-is-kilnex .left .cover_outside_block .open-video{
		margin-left: 40px;
	}
	.cover_outside_block{
		margin-bottom: 60px;
	}
	.cover_outside_block:last-child{
		margin-bottom: 0;
	}
	.what-is-kilnex .right h2{
		padding-right: 0;
	}
	.what-is-kilnex .container{
		padding-bottom: 60px;
	}
	.s-test{
		padding-top: 40px;
		min-height: 630px;
	}
	.test-wrap .step-wrap .left .title{
		font-size: 16px;
		margin-bottom: 90px;
	}
	.test-wrap .step-wrap .left .discount{
		font-size: 75px;
	}
	.test-wrap{
		padding: 10px 15px;
		max-width: 750px;
	}
	.test-wrap .step-wrap .left{
		max-width: 200px;
		padding-right: 15px;
		min-height: 580px;
	}
	.test-wrap .step-wrap .right{
		padding-left: 15px;s
	}
	.test-wrap .step-wrap .right .question{
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	.test-wrap .step-wrap .right .decor-steps{
		margin-bottom: 50px;
	}
	.test-wrap .step-wrap .answers-list{
		margin-bottom: 80px;
	}
	.s-applying .applying-list > li{
		max-width: 220px;
	}
	.s-applying .applying-list{
		max-width: 740px;
	}
	.s-bracelets{
		padding-top: 50px;
	}
	.info-bracelet .sub-title{
		font-size: 14px;
	}
	.info-bracelet .title{
		font-size: 80px;
		line-height: 60px;
	}
	.info-bracelet .title span{
		font-size: 63px;
	}
	.s-bracelets .img-bracelet{
		right: 0;
	}
	.s-bracelets .img-bracelet img{
		max-width: 350px;
	}
	.s-description{
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.s-description .desc-list .title{
		font-size: 16px;
		line-height: 24px;
	}
	.s-description .desc-list p{
		font-size: 16px;
	}
	.s-description .desc-list li{
		margin: 0 15px;
	}
	.s-description .desc-list .icon{
		margin-bottom: 30px;
	}
	.s-discount .flex-wrap .lamp{
		left: -170px;
	}
	.slider-reviews{
		padding: 0 30px;
	}
	.slider-reviews .arrow-prev{
		left: 0;
	}
	.slider-reviews .arrow-next{
		right: 0;
	}
	.s-catalog{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.catalog-list .item-catal{
		width: 100%;
	}
	.catalog-list{
		max-width: 720px;
	}
	.catalog-list .item-catal .left{
		max-width: 300px;
	}
	.s-callback .flex-wrap{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.s-callback .left{
		max-width: 100%;
	}
	.s-callback .flex-wrap{
		max-width: 550px;
	}
	.s-callback .left{
		text-align: right;
		margin-bottom: 30px;
	}
	.s-callback{
		padding-top: 40px;
	}
	.slider-catalog .item-slider img{
		max-width: 270px;
	}
	.s-about .about-wrap{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.s-about .about-wrap .left{
		max-width: 100%;
		padding: 0 15px;
		text-align: center;
	}
	.s-about .about-wrap h2{
		margin-bottom: 30px;
	}
	.s-about .about-wrap .right{
		text-align: center;
		padding-top: 40px;
	}
	.s-about .about-wrap img{
		max-width: 400px;
		margin: 0 auto;
	}
	.s-about .about-wrap{
		max-width: 100%;
	}
	.s-about .about-wrap .left{
		min-width: auto;
	}
	.s-about .information{
		max-width: 700px;
		padding: 35px 20px 20px;
		min-height: 550px;
	}
	.slider-reviews .arrow-prev:hover {
		left: 0px;
		padding: 0;
	}
	.slider-reviews .arrow-next:hover {
		right: 0px;
		padding: 0;
	}
	footer .flex-wrap{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		height: auto;
		text-align: center;
	}
	footer .logo-footer,
	footer .desc-footer,
	footer .cont-footer{
		margin-bottom: 20px;
	}
	footer .desc-footer{
		min-width: auto;
	}
	.action-info h2 {
		font-size: 64px;
	}
	.slogan-action {
		font-size: 30px;
	}
	.text-action {
		font-size: 14px;
	}
	.text-action i {
		font-size: 18px;
	}
	.s-action {
		min-height: 350px;
	}
	.img-bag {
		max-width: 200px;
	}
	.img-brasl {
		right: 50px;
		bottom: 110px;
		max-width: 136px;
	}
	.ujic-classic span.countdown_txt{
		font-size: 12px !important;
		width: 60px;
		bottom: auto;
		top: -26px;
	}
	.ujic-classic .countdown_section{
		min-width: 60px;
		min-height: 65px;
	}
	.ujic-classic span.countdown_amount{
		font-size: 32px !important;
	}
	.what-is-kilnex .desc-list li {
		margin-bottom: 12px;
	}
	.what-is-kilnex .desc-list .icon {
		margin-right: 30px;
	}
	.what-is-kilnex .open-video:before {
		width: 250px;
		height: 250px;
		left: -15px;
		top: -15px;
		border-width: 15px;
	}
	.what-is-kilnex .open-video:after {
		width: 290px;
		height: 290px;
		left: -35px;
		top: -35px;
	}
	.action-info {
		padding: 60px 20px 15px 30px;
	}
	/* 27.06.2018 */
	.s-success{
		-webkit-justify-content: center;
		justify-content: center;
	}
	.s-success .content{
		padding: 40px;
		text-align: center;
	}
	.s-success h1{
		font-size: 54px;
	}
}
@media(max-width: 767px){
	/* 03.07.2018 counter bug*/
	#ujiCountdown span.countdown_row{
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
	}
	#ujiCountdown span.countdown_row > span{
		float: none !important;
	}
	.nav-btn-wrap.active{
		right: 250px;
		background-color: transparent;
	}
	.top-menu.active{
		right: 0;
	}
	.top-menu{
		max-width: 300px;
		min-width: 250px;
		max-height: 100vh;
		height: 100%;
		overflow: auto;
		padding: 30px 20px;
		border: none;
		background-color: rgba(12,37,48,.9);
		height: 100vh;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		left: auto;
		right: -300px;
		-webkit-transition: .4s ease;
		-moz-transition: .4s ease;
		-ms-transition: .4s ease;
		-o-transition: .4s ease;
		transition: .4s ease;
	}
	.top-right{
		width: 100%;
		text-align: center;
		max-width: 100%;
	}
	nav{
		width: 100%;
		margin-top: 20px;
	}
	.nav-list li{
		display: block;
		text-align: center;
		width: 100%;
		margin-bottom: 15px;
	}
	.nav-list li a{
		font-size: 18px;
	}
	.popup-callback{
		padding: 0;
		max-width: 300px;
		max-height: 420px;
		overflow: auto;
	}
	.popup-callback .popup-form-cover{
		padding: 45px 15px 20px;
	}
	.popup h5{
		font-size: 18px;
		margin-bottom: 25px;
	}
	.popup ul li{
		margin-bottom: 25px;
	}
	.popup-callback textarea{
		margin-top: 0;
	}
	.popup.popup-video .popup-close{
		right: 5px;
		top: 10px;
	}
	.popup.popup-action4{
		padding: 50px 0;
	}
	.popup.popup-action4 h5{
		margin-bottom: 0;
	}
	.what-is-kilnex .container{
		padding-top: 40px;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.what-is-kilnex .right{
		max-width: 100%;
	}
	.what-is-kilnex .right h2{
		text-align: center;
		margin-bottom: 10px;
	}
	h2, .s-test h2{
		font-size: 45px;
	}
	.test-wrap .step-wrap{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.test-wrap .step-wrap .left{
		border: none;
		border-bottom: 2px solid #1a3141;
		padding: 0;
	}
	.test-wrap .step-wrap .left{
		width: 100%;
		max-width: 100%;
		text-align: center;
		min-height: auto;
	}
	.test-wrap .step-wrap .left .title{
		margin-bottom: 10px;
	}
	.test-wrap .step-wrap .left .discount{
		line-height: 65px;
		margin-bottom: 20px;
	}
	.test-wrap{
		max-width: 100%;
		position: relative;
		left: auto;
		transform: translate(0,0);
		bottom: 0;
		margin-top: 40px;
	}
	.test-wrap .step-wrap .right .question{
		padding: 0;
	}
	.test-wrap .step-wrap .right{
		padding-left: 0;
		max-width: 100%;
		padding-bottom: 50px;
	}
	.test-wrap .step-wrap .answers-list{
		margin-bottom: 40px;
	}
	.test-wrap .step-wrap .blue-btn{
		max-width: 100%;
		width: 100%;
	}
	.test-wrap .step-wrap .form-wrap{
		margin-bottom: 70px;
	}
	.s-applying{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.s-applying .applying-list{
		padding-top: 40px;
		max-width: 100%;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.s-applying .applying-list .header{
		margin-bottom: 15px;
	}
	.s-applying .applying-list > li{
		max-width: 100%;
		margin-bottom: 50px;
	}
	.s-applying .applying-list > li:last-child{
		margin-bottom: 0;
	}
	.s-call-line{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.s-call-line p{
		padding: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.s-bracelets .decor-el1,
	.s-bracelets .decor-el2,
	.s-bracelets .decor-el3{
		display: none;
	}
	.info-bracelet{
		padding-left: 0;
	}
	.s-description{
		background-repeat: no-repeat;
		background-position: center;
	}
	.s-bracelets .img-bracelet{
		bottom: 70px;
	}
	.s-description .desc-list{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.s-description .desc-list li{
		margin: 0;
		width: 100%;
		margin-bottom: 50px;
	}
	.s-description .desc-list li:last-child{
		margin-bottom: 0;
	}
	.s-description .desc-list .title{
		margin-bottom: 0px;
	}
	.s-description .desc-list .icon{
		width: 80px;
		height: 80px;
	}
	.s-reviews{
		padding-top: 40px;
	}
	.s-reviews h2{
		margin-bottom: 25px;
	}
	.catalog-list{
		max-width: 580px;
	}
	.s-callback .decor-woman{
		display: none;
	}
	.s-callback .flex-wrap{
		max-width: 100%;
	}
	.s-callback .left{
		text-align: center;
	}
	.s-callback .right .form-wrap label{
		display: none;
	}
	.s-callback .right .form-wrap li:last-child{
		-webkit-justify-content: center;
		justify-content: center;
	}
	.s-callback .right .form-wrap .wpcf7-form-control-wrap{
		max-width: 100%;
		min-width: 200px;
		width: 100%;
	}
	.s-discount{
		padding-bottom: 60px;
	}
	.s-discount .flex-wrap .lamp{
		display: none;
	}
	.s-discount .flex-wrap{
		text-align: center;
		-webkit-justify-content: center;
		justify-content: center;
		min-height: auto;
	}
	.s-discount .flex-wrap .desc{
		padding: 0;
		margin-bottom: 30px;
	}
	.s-discount .flex-wrap h2{
		margin-bottom: 25px;
	}
	.s-discount .flex-wrap .counter-wrap{
		margin-bottom: 50px;
	}
	.header-bottom .decor-line::before {
		height: 318px;
	}
	.header-bottom .decor-sec-line{
		bottom: -68px;
	}
	.action-wrap{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		padding: 34px 0 70px;
	}
	.action-info {
		padding: 48px 15px 30px;
		text-align: center;
		width: 100%;
	}
	.header-bottom .decor-sec-line {
		left: 128px;
	}
	.header-bottom .decor-sec-line::after {
		width: 192px;
	}
	.text-action {
		margin-top: 22px;
	}
	.what-is-kilnex .left {
		padding-right: 0;
		margin-top: 30px;
	}
	.what-is-kilnex .left .cover_outside_block .open-video {
		margin: 0 auto 0;
	}
	.what-is-kilnex .open-video {
		width: 200px;
		height: 200px;
	}
	.what-is-kilnex .left{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.cover_outside_block{
		width: 50%;
	}
	.what-is-kilnex .open-video:after {
		width: 270px;
		height: 270px;
		left: -35px;
		top: -35px;
	}
	.what-is-kilnex .open-video:before {
		width: 230px;
		height: 230px;
		left: -15px;
		top: -15px;
		border-width: 15px;
	}
	@keyframes pulse-phone {
		0% {
			-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
		}
		50% {
			-webkit-transform: translate(-50%, -50%) scale(1.5);
			transform: translate(-50%, -50%) scale(1.5);
		}
		100% {
			-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
		}
	}
	.applying-cert {
		max-width: 600px;
		padding: 0 15px;
	}
	.s-applying h2 {
		font-size: 45px;
	}
	/* 27.06.2018 */
	.s-success{
		min-height: 500px;
	}
	.s-success .content{
		padding: 20px;
	}
	.s-success h1{
		font-size: 44px;
	}
	.s-success .desc{
		font-size: 18px;
	}
}
@media(max-width: 600px){
	.header-content{
		padding-top: 0;
	}
	.logotype span{
		font-size: 100px;
	}
	.logotype img{
		max-width: 100px;
	}
	.logotype span::after{
		font-size: 14px;
		border: 1px solid #07eaed;
		width: 18px;
		height: 18px;
		line-height: 20px;
		text-align: center;
		padding: 0;
	}
	h1{
		font-size: 20px;
	}
	header{
		padding-left: 15px;
		padding-right: 15px;
	}
	.s-bracelets{
		padding-bottom: 30px;
	}
	.s-bracelets .img-bracelet{
		position: relative;
		right: auto;
		bottom: auto;
		padding-top: 20px;
		text-align: center;
	}
	.info-bracelet{
		text-align: center;
		padding: 0;
		padding-bottom: 20px;
	}
	.info-bracelet .desc{
		max-width: 100%;
	}
	.catalog-list{
		max-width: 100%;
	}
	.catalog-list .item-catal{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0;
	}
	.catalog-list .item-catal .left{
		max-width: 100%;
	}
	.catalog-list .right{
		margin: 0 0 30px 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 5px;
	}
	.catalog-list .right .blue-btn{
		width: 100%;
	}
	.slider-catalog .item-slider{
		min-height: 370px;
	}
	.catalog-list .right .desc-list{
		margin-bottom: 20px;
	}
	.img-brasl {
		right: auto;
		left: 0;
		bottom: 0px;
		max-width: 120px;
	}
	.img-bag {
		max-width: 180px;
	}
	.cover_outside_block {
		width: 100%;
	}
	.ujic-classic .countdown_section{
		background-color: rgba(0,0,0,.1);
	}
}
@media(max-width: 480px){
	.logotype span{
		font-size: 55px;
	}
	.logotype img{
		max-width: 65px;
		margin-right: 0;
	}
	header{
		min-height: 590px;
	}
	h1{
		font-size: 18px;
	}
	.header-bottom{
		width: 240px;
	}
	.header-bottom img{
		max-width: 240px;
	}
	.header-bottom .blue-btn{
		bottom: 40px;
	}
	.header-bottom .decor-line{
		top: 127px;
		right: -30px;
	}
	.header-bottom .decor-line::before{
		height: 274px;
	}
	.header-bottom .decor-sec-line{
		left: 90px;
		bottom: -70px;
	}
	.header-bottom .decor-sec-line::after{
		width: 115px;
	}
	.what-is-kilnex .container{
		padding-top: 75px;
	}
	.what-is-kilnex .container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.what-is-kilnex .desc-list .icon{
		margin-right: 10px;
	}
	h2, .s-test h2{
		font-size: 40px;
	}
	.test-wrap .step-wrap .right .question{
		font-size: 16px;
	}
	.test-wrap .step-wrap .answers-list{
		font-size: 16px;
	}
	.s-bracelets .img-bracelet img{
		max-width: 300px;
	}
	.slider-reviews{
		padding: 0 15px;
	}
	.slider-reviews .item-slide{
		padding: 20px 5px 10px;
	}
	.s-about .about-wrap img{
		max-width: 300px;
	}
	.s-about .about-wrap .sub-title{
		font-size: 20px;
		margin-bottom: 5px;
	}
	.s-about .about-wrap .desc{
		font-size: 16px;
	}
	.s-description{
		padding-bottom: 50px;
	}
	.s-discount{
		padding-top: 40px;
	}
	.s-discount .flex-wrap .blue-btn{
		width: 290px;
	}
	.s-discount .flex-wrap .counter-wrap{
		margin-bottom: 0;
	}
	.action-wrap{
		padding-bottom: 200px;
	}
	.action-info h2 {
		letter-spacing: .1em;
	}
	.s-applying h2 {
		font-size: 29px;
	}
	.img-brasl{
		right: auto;
		left: 0;
		bottom: 0;
		max-width: 190px;
	}
	.ujic-classic .countdown_section{
		margin: 0 5px 0 0 !important;
	}
}
@media(max-width: 400px){
	.what-is-kilnex .open-video:after{
		display: none;
	}
	.cover_outside_block {
		margin-bottom: 34px;
	}
	/* 27.06.2018 */
	.s-success h1{
		font-size: 40px;
	}
}
@media(min-width:2048px){
	h1{
		font-size: 35px;
	}
	.nav-list li a{
		font-size: 21px;
	}
	.header-bottom{
		width: 756px;
	}
	.header-bottom img{
		max-width: 100%;
		width: 100%;
	}
	.header-bottom .blue-btn{
		bottom: 280px;
	}
	.header-bottom .decor-line::before{
		height: 1008px;
	}
	.header-bottom .decor-sec-line::after {
		width: 890px;
	}
}